{% extends "base.html" %}

{% block content %}
<p>La Carte Sanitaire Numérique est une <strong>codification numérique</strong> de <strong>toutes les structures de santé du Mali</strong>.</p>
<p><a href="{% url 'download' all_entities_file %}"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt"></i> TÉLÉCHARGER CARTE SANITAIRE NUMÉRIQUE (BDD SQLite)</button></a></p>

<table class="table table-striped ">
<legend>Quelques Données</legend>
<tr><th>Nombre d'Unités Sanitaires</th><td>{{ nb_cscom_total }}</td>
<tr><th>Nombre de Districts</th><td>{{ nb_district_total }}</td>
<tr><th>Nombre de Villages</th><td>{{ nb_village_total }}</td>
<tr><th>Nombre de Communes</th><td>{{ nb_commune_total }}</td>
<tr><th>Nombre de Cercles</th><td>{{ nb_cercle_total }}</td>
<tr><th>Nombre de villages non-rattachés</th><td>{{ nb_village_alone }}</td>
<tr><th>Nombre de villages sans coordonnées GPS</th><td>{{ nb_village_nocoord }}</td>
<tr><th>Nombre de CSCom sans coordonnées GPS</th><td>{{ nb_cscom_nocoord }}</td>
</table>

<h2>Rapport avec la Carte Sanitaire : <em>historique</em></h2>
<p>La carte historique (réalisé et maintenue par la Direction Nationale de la Santé et la Cellule Planification et Statistique Secteur Santé et Social - DNS/CPS) présente plusieurs limitations qui n'en font pas un bon candidat pour un système tout numérique :
    <ul>
        <li>Les éléments de cette carte ne sont pas codifiés de manière unique et numérique.</li>
        <li>La <em>codification</em> est basée sur le nom de l'unité.</li>
        <li>La fréquence de mise à jour est très lente, voire inexistante.</li>
        <li>Elle n'est pas accessible librement, trop de difficultés bureaucratique pour l'obtenir.</li>
        <li>Les villages d'une aire de santé ne sont pas systématiquement indiqués/codifiés.</li>
        <li>Il n'existe pas de fichier unique présentant toutes les données.</li>
        <li>Il n'y a pas de mécanisme de mises à jour des informations surtout pour les partenaires.</li>
    </ul></p>
    <p>Pour toutes ces raisons, et principalement dans le but d'être capable d'aggréger des données communautaires (niveau village) avec des données sanitaires, l'ANTIM a créé cette <strong>Carte Sanitaire Numérique (CSN)</strong>.</p>

    <p>Le but de la CSN est d'être le socle de tous les systèmes d’informations sanitaires utilisant les technologies numériques pour les collectes, l’analyse et la diffusion des données : dans un souci d’harmonisation, d’interopérabilité, de normalisation et de standardisation de tous les systèmes, il est fortement conseillé d’utiliser les codes disponibles ici, pour l’identification des structures de santé du Mali pour les applications informatiques.</p>

<h2>Télécharger</h2>
<p><strong>L'utilisation et la distribution de la CSN sont gratuite</strong>. Celle-ci se trouve dans le <strong><a href="https://creativecommons.org/publicdomain/zero/1.0/">domaine public (CC0)</a></strong>.</p>
<p>Vous êtes encouragé à l'utiliser ainsi que de contribuer à son amélioration.</p>
<ul>
    <li><a href="{% url 'download' admin_entities_file %}"><button type="button" class="btn btn-sm"><i class="glyphicon glyphicon-download-alt"></i> TÉLÉCHARGER CODES MATCL (CSV)</button></a></li>
    <li><a href="{% url 'download' health_entities_file %}"><button type="button" class="btn btn-sm"><i class="glyphicon glyphicon-download-alt"></i> TÉLÉCHARGER PYRAMIDE SANITAIRE (CSV)</button></a></li>
    <li><a href="{% url 'download' all_entities_sql %}"><button type="button" class="btn btn-sm"><i class="glyphicon glyphicon-download-alt"></i> TÉLÉCHARGER CARTE SANITAIRE NUMÉRIQUE (Export SQL)</button></a></li>
    <li><a href="{% url 'download' all_entities_file %}"><button type="button" class="btn btn-sm"><i class="glyphicon glyphicon-download-alt"></i> TÉLÉCHARGER CARTE SANITAIRE NUMÉRIQUE (BDD SQLite)</button></a></li>
</ul>
<div class="alert alert-warning"><p><i class="glyphicon glyphicon-warning-sign"></i> Le format de la CSN n'est pas définitif. Les fondations (identifiants uniques et liés) sont présentes et nous sommes ouverts à toute proposition d'amélioration/extension.</p>
<p>Merci de prendre contact avec <a href="mailto:csnmali@sate.gov.ml"><i class="glyphicon glyphicon-envelope"></i> csnmali@sante.gov.ml</a>.</p></div>

<h2>Qualité des données</h2>
<p>La CSN a été établi à partir de plusieurs sources :
    <ul>
        <li>La base de données des Unités Sanitaires de l’Office des Nations Unies pour la Coordination des Affaires Humanitaires (<strong>OCHA</strong>), mise à jour en mai 2013 et croisé avec les données de la CPS.</li>
        <li>La base de données administrative du Ministère de l’Administration Territoriale et des Collectivités Locales (<strong>MATCL</strong>) fournie en 2012, corrigée (codes non-uniques).</li>
        <li>La mission de mise à jour de ces différentes informations suite à l’étude sur l’utilisation des Technologies de l’Information et de la Communication dans le système de santé réalisé par l'<strong>ANTIM</strong>, en décembre 2012.</li>
    </ul>
Il est important de noter qu'<strong>aucune de ces sources n'est entièrement fiable ni à jour</strong>. La qualité des données s'améliorera avec le temps car l'un des problèmes majeurs que souhaite résoudre la CSN est la <strong>mise à jour des données en temps réels</strong>.</p>
<p>Ainsi, cette plateforme est l'outil sur lequel tous les acteurs (essentiellement les Chargés SIS) vont s'appuyer pour corriger et mettre à jour les informations à leurs disposition.</p>

<p>Pour des raisons de sécurité, la correspondance Unité Sanitaire-Village n'a pas pu être établie pour les trois régions du nord.</p>

<h2>Qui l'utilise ?</h2>
<p class="alert alert-info">Merci de nous signaler si vous souhaitez utiliser la CSN. Cela nous permettra de vous inclure dans les discussions techniques, le programe de mises à jour ainsi que de vous faire apparaître ici : la force de cette base de données réside aussi dans sa large utilisation.</p>
<p>La CSN est utilisé par le <strong>Système Numérique d'Information Sanitaire Intégré (SNISI)</strong> qui regroupe lui-même plusieurs projets :
    <ul>
        <li><strong>PNLP</strong>/MEASURE Evaluation : Routine mensuel paludisme dans tous les centres des régions de Ségou et Mopti ainsi que dans les districs Commune 4 et Commune 5 de Bamako.</li>
        <li><strong>FNUAP</strong> : Enregistrements des données communautaires (naissances, décès, stocks) pour la santé de la reproduction dans deux districts de Ségou et 2 districts de Koulikoro.</li>
        <li><strong>PNLC</strong>/<strong>SightSavers</strong> : Missions de chirurgie du trachome trichiasys dans toute la région de Koulikoro.</li>
    </ul>
</p>

<p class="alert alert-info"><i class="glyphicon glyphicon-question-sign"></i> Notez aussi que nos techniciens (<a href="http://opendata.ml">Open Data Mali</a>, <a href="http://yeleman.com">YELEMAN</a> et <a href="http://www.antim.sante.gov.ml">ANTIM</a>) sont disponibles pour vous aider à migrer vers la CSN ou à y importer de nouvelles données (plateau technique, ressources humaines, etc.)</p>

<h2>Rapporter une erreur</h2>
<p>Bientôt, tous les chargés SIS seront invités à mettre à jour les informations concernant leurs districts respectifs afin d'avoir une base de données fiable et à jour, que tout le monde peut utiliser sans crainte.</p>
<p>Pour signaler une anomalie et/ou proposer une correction, merci d'utiliser le formulaire de contact disponible sur les pages des Unités Sanitaires (rubrique <a href="{% url 'browser' %}">parcourir</a>).</p>
<p>Vous pouvez aussi nous écrire à <a href="mailto:csnmali@sante.gov.ml"><i class="glyphicon glyphicon-envelope"></i> csnmali@sante.gov.ml</a>.</p>

<p><a href="http://opendata.ml"><img src="http://opendata.ml/static/img/logo_opendata.png" height="50" /></a></p>
{% endblock %}