<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Carte Sanitaire Numérique - Ministère de la Santé du Mali</title>
        {% include "css_tags.html" %}
    </head>
    <body class="{{ page }}">

        <div class="container">

            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'about' %}">Carte Sanitaire Numérique</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li{% if page = "" %} class="active"{% endif %}><a href="{% url 'about' %}">À propos</a></li>
                  <li{% if page = "browser" %} class="active"{% endif %}><a href="{% url 'browser' %}">Parcourir</a></li>
                  <li{% if page = "map" %} class="active"{% endif %}><a href="{% url 'map' %}">Carte</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>

            <div class="content">
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>