<form action="{% url 'contact' entity.slug %}" method="post"  class="form-search" enctype="multipart/form-data">{% csrf_token %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>{{form.subject.label}}:</td>
                <td>{{form.subject}} {{form.subject.errors}}</td>
            </tr>
            <tr>
                <td>{{form.message.label}}:</td>
                <td>{{form.message}} {{form.message.errors}}</td>
            </tr>
            <tr>
                <td>{{form.sender.label}}:</td>
                <td>{{form.sender}} {{form.sender.errors}}</td>
            </tr>
            </tr>
        </tbody>
    </table>
    <input type='submit' class="btn btn-info btn-lg" value="Commenter"/>
</form>
